.css-1v2lvtn-MuiPaginationItem-root {
    color: white !important
}

.verde-claro {
    background-color: rgba(104, 255, 112, 0.204);
}

.rojo-claro {
    background-color: rgba(255, 104, 104, 0.205);
}

.rojo-fuerte {
    background-color: rgba(255, 104, 104, 0.767);
}